// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// VARIABILI
@import 'guests/partials/variables';
// MIXINS
@import 'guests/partials/mixins';
// COMMON
@import 'guests/partials/common';
// HEADER
@import 'guests/partials/header';

// FOOTER
@import 'guests/partials/footer';

// FORM
@import 'admin/form';

// CARDS
@import 'admin/cards';

// RESTAURANT
@import 'admin/restaurant';

// CHART
@import 'admin/chart';

