body {
    font-family: 'Inter', sans-serif;
}

.deliveboo-logo-text {
    color: $deliveboo_main_blue;
    font-weight: 600;
    display: inline;
}

.margin-right {
    margin-right: 20px;
}

.link-coloured {
    color: $deliveboo_main_blue;

    &.yellow {
        color: $deliveboo_main_orange;
    }
}

hr {
    color: $deliveboo_azure;
}

.title {
    text-align: center;
    color: $deliveboo_main_blue;
    font-weight: 600;
    text-transform: uppercase;
    padding: 70px 0px 30px 0px;
}

.check-inp {
    margin-left: -70px;
}

.custom-margin-left {
    margin-left: -40px;
}

.black-txt {
    color: $deliveboo_black_text;
}

.no-flex {
    display: block;
}