body {
    font-family: 'Inter', sans-serif;
}

.deliveboo-logo-text {
    color: $deliveboo_main_blue;
    font-weight: 600;
    display: inline;
}

.margin-right {
    margin-right: 20px;
}

.link-coloured {
    color: $deliveboo_main_blue;

    &.yellow {
        color: $deliveboo_main_orange;
    }
}

