// Main colors

$deliveboo_main_orange: #ffa704;
$deliveboo_main_blue: #23cad3;

$deliveboo_white_text: #fff;
$deliveboo_black_text: #221F1F;

//Secondary colors

$deliveboo_azure: #72a79f;
$deliveboo_grey: #464646;
$deliveboo_dark_blue: #145a66;

$deliveboo_gestisci_piatti: #f47e50;
$deliveboo_vedi_tuo_ristorante: #932611;

$deliveboo_light_grey: #a3a3a3;