.cover-card {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.no-padding {
    padding: 0;

    a {
        text-decoration: none;
    }
}

.address-grey {
    color: $deliveboo_light_grey;
    font-size: 14px;
}

.kitchen-type {
    color: $deliveboo_main_orange;
}
