.chart-entities {
    color: $deliveboo_grey;
    text-transform: uppercase;
    font-weight: 600;
}

.display-flex-menu {
    display: flex;


}

.menu-description {
    align-self: center;
   
    margin: auto;
}

.price {
    font-size: 16px;

    @media all and (max-width: 425px) {
        color: $deliveboo_white_text;
        background-color: $deliveboo_main_orange;
    }
    
}

.description {
    color: $deliveboo_light_grey;
}

.payment {
    color: $deliveboo_grey;
    font-size: 15px;

}

.text-align {
    text-align: center;
    padding-top: 20px;
}

.carrello {
    font-size: 25px;
    color: $deliveboo_main_orange;
    
}

.padding-top-bottom {
    padding: 4px 20px;
    margin: 0px 10px;
}



.checkout-form {

    
    .checkout-input {
        border: none;
        border-bottom: 1px solid $deliveboo_light_grey;
        
    }
    .alignment {
        label {
            color: $deliveboo_light_grey;
        }
        
    }
}

.border-rad {
    border-radius: 20px;
}

i {
    margin-right: 8px;
    color: $deliveboo_grey;
}

.amount {
    text-align: center;
    color: $deliveboo_light_grey;

    label {
        span {
            color: $deliveboo_main_blue;
            font-size: 25px;
            font-weight: 600;
        }
    }
}