.display-flex {
    display: flex;
    justify-content: space-between;
    
    img {
        width: 450px;
        height: auto;
    }

    @media all and (max-width: 575px) {
        img {
            width: 100%;
        }
    }

    box-shadow: 0 6px 6px rgba(0,0,0,0.2);

    &.dish-section {
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        @media all and (max-width: 576px) {
            flex-direction: column;
        }
    }
    

    

    &.column-flex {
        @media all and (max-width: 576px) {
            flex-direction: column;
        }
    }
}
    


.display-flex-menu {
    @media all and (max-width: 576px) {
        flex-direction: column;
    }
}



.flex-items {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin: auto;
    
    color: $deliveboo_grey;
    

    .sub-title {
        font-size: 22px;
    }
    span {
        font-weight: 600;
        color: $deliveboo_main_blue;
    }

    .btn-coloured {
        margin: 5px 0;
        
    }
}

.margin-bottom {
    margin-bottom: 50px;
}

.yellow-txt {
    color: $deliveboo_main_orange;
    text-transform: uppercase;
    font-weight: 600;
}